<!DOCTYPE html>
<html lang="en" ng-app="dested">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Salvatore Aiello's portfolio: A collection of Projects, games and toys. ">
    <meta name="language" content="en">
    <meta name="author" content="Salvatore">
    <meta name="url" content="https://www.dested.com/">
    <meta name="identifier-URL" content="https://www.dested.com/">
    <meta name="keywords" content="dested,dested.com,portfolio,salvatore aiello,code,github,software,javascript">
    <meta name="google-site-verification" content="xcEDBi8pm4i1749EitUUigpGNlXL1dv8uqey8QH1MDc"/>
    <meta name="theme-color" content="#4C9CFF">

    <title>Dested</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/3-col-portfolio.css" rel="stylesheet">
    <style>
        .github {
            font-size: 15px;
        }

        .project-image {
            border-radius: 15px;
            border: solid 2px silver;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-controller="main">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#menu-small">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="menu-small">
            <ul class="nav navbar-nav">
                <li>
                    <a href="https://github.com/dested">Github</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/dested">LinkedIn</a>
                </li>
                <li>
                    <a href="mailto:dested@gmail.com?subject=Please%20send%20me%20your%20resume!">Resume</a>
                </li>
                <li>
                    <a href="mailto:dested@gmail.com">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" ng-cloak>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Projects
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 portfolio-item" style="min-height:390px;" ng-repeat="project in projects">
            <a ng-href="{{project.url}}">
                <img class="img-responsive project-image" ng-src="{{project.image}}" alt="{{project.title}}">
            </a>
            <h3>
                <a ng-href="{{project.url}}">{{project.title}}</a>
                <a ng-if="project.github" class="github" ng-href="{{project.github}}">github</a>
            </h3>
            <p ng-bind-html="project.description | to_trusted"></p>
            <button ng-repeat="keyword in project.keywords" class="btn btn-default btn-sm" style="margin-right: 4px">
                {{keyword}}
            </button>
        </div>


    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Toys
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 portfolio-item" style="min-height:390px;" ng-repeat="project in toys">
            <a ng-href="{{project.url}}">
                <img class="img-responsive project-image" ng-src="{{project.image}}" alt="{{project.title}}">
            </a>
            <h3>
                <a ng-href="{{project.url}}">{{project.title}}</a>
                <a ng-if="project.github" class="github" ng-href="{{project.github}}">github</a>
            </h3>
            <p ng-bind-html="project.description | to_trusted"></p>
            <button ng-repeat="keyword in project.keywords" class="btn btn-default btn-sm" style="margin-right: 4px">
                {{keyword}}
            </button>
        </div>


    </div>
    <hr>
    <script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js">
    </script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css"/>
<style>
    .calendar:hover{
        color:black;
        text-decoration: none;
    }

    .calendar{
        color:black;
        text-decoration: none;
    }
</style>
    <!-- Prepare a container for your calendar. -->
    <a href="https://github.com/dested">
        <div class="calendar">
            <!-- Loading stuff -->
            Loading the data just for you.
        </div>
    </a>
    <script>
        GitHubCalendar(".calendar", "dested");
    </script>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright &copy; Dested.com
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script>
                </p>
            </div>
        </div>
    </footer>

</div>
<script type="text/javascript" src="libs/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="libs/bootstrap.min.js"></script>

<script>angular.module('dested', []).controller('main', function ($scope) {
    $scope.projects = [
        {
            url: 'https://oursonic.org',
            image: '/projects-images/sonic.png',
            title: 'Our Sonic',
            github: 'https://github.com/OurSonic/OurSonicTyped',
            description: 'A hand built engine for simulating the original Sonic the Hedgehog games for Sega Genesis. Pure typescript implementation.',
            keywords: ['javascript', 'typescript', 'angular 2', 'aws', 'lambda', 'canvas']
        },
        {
            url: 'https://itunes.apple.com/us/app/penguin-shuffle-uncover-path/id909070508',
            image: '/projects-images/penguin-shuffle.png',
            title: 'Penguin Shuffle!',
            github: null,
            description: 'A fun puzzle game for Android and IOS, built in C# using Xamarin, mono-game, and a custom engine.',
            keywords: ['c#', 'xamarin', 'android', 'ios']
        },
        {
            url: 'http://styr.com',
            image: '/projects-images/styr.png',
            title: 'STYR Labs',
            github: null,
            description: 'A typescript based native Android and iOS app with a .net api.',
            keywords: ['typescript', 'tabris.js', 'aws', '.net', 'angular.js']
        },
        {
            url: 'https://github.com/Shuffle-Game/AnyCardGame',
            image: '/projects-images/acg.png',
            title: 'Any Card Game',
            github: 'https://github.com/Shuffle-Game/AnyCardGame',
            description: 'A game editor built to allow developers to create their own custom card games, have them hosted, any playable over the internet. Development is ongoing.',
            keywords: ['javascript', 'typescript', 'angular 2', 'node.js']
        },
        {
            url: 'http://socialwargames.com',
            image: '/projects-images/socialwargames.png',
            title: 'Social War Games',
            github: 'https://github.com/dested/Social-War-Games-Lambda',
            description: 'A social multiplayer game hosted serverless on aws',
            keywords: ['javascript', 'typescript', 'aws lambda', 'canvas']
        },
        {
            url: 'projects/BingoBlockParty/index.html',
            image: "/projects-images/bingo.png",
            title: 'Bingo Block Party',
            github: 'https://github.com/dested/Social-War-Games-Lambda',
            description: 'A physics based multiplayer ball and bingo game. This product compiles to the Web, Android, and IOS using a custom engine. Still in development.',
            keywords: ['javascript', 'c#', 'canvas', 'xamarin', 'android', 'ios']
        },
        {
            url: 'http://baubly.s3-us-west-2.amazonaws.com/index.html',
            image: "/projects-images/baubly.png",
            title: 'Baubly',
            github: 'https://github.com/dested/Baubly',
            description: 'An idea for a multiplayer realtime strategy game.',
            keywords: ['typescript', 'canvas', 'nodejs']
        },
        {
            url: 'projects/hex/index.html',
            image: '/projects-images/hexmaze.png',
            title: 'Multiplayer Hexagon Maze',
            github: 'https://github.com/dested/Hexmaze',
            description: 'A party based maze game with a creative level layout. Maze layout done by <a href="http://www.dllu.net/">Daniel Lu</a>. Multiplayer facilitated through socket.io.',
            keywords: ['javascript', 'c#', 'network-multiplayer', 'canvas']
        },
    ];

    $scope.toys = [
        {
            url: 'projects/wire/index.html',
            image: '/projects-images/wire-world.png',
            title: 'Wire World in Javascript',
            github: 'https://github.com/dested/WireWorld',
            description: 'An implementation of the <a href="http://www.quinapalus.com/wires11.html">Wire World</a> cellular automaton computer in javacript.',
            keywords: ['javascript', 'typescript', 'canvas']
        },
        {
            url: 'http://hackga.me',
            image: "/projects-images/hackgame.png",
            title: 'HackGa.me',
            github: null,
            description: 'An idea for a 2d platformer with full level and physics editing capabilities.',
            keywords: ['javascript', 'performance', 'canvas']
        },
        {
            url: 'https://www.youtube.com/watch?v=RF7PwocNlCw',
            image: "/projects-images/mario.png",
            title: 'Mario AI',
            github: 'https://github.com/dested/Social-War-Games-Lambda',
            description: 'My AI agent for the 2009 <a href="http://julian.togelius.com/mariocompetition2009/">MarioAI</a> competition. Uses A* to pathfind through the level.',
            keywords: ['java', 'performance']
        },
        {
            url: 'projects/Triangles/index.html',
            image: "/projects-images/triangles.png",
            title: 'Triangles Puzzle Game',
            github: 'https://github.com/dested/Triangles-',
            description: 'A rough implementation of an interesting puzzle game concept.',
            keywords: ['javascript', 'c#', 'canvas']
        },
        {
            url: 'projects/polygroup/index.html',
            image: "/projects-images/poly-group.png",
            title: 'Server Clustering Algorithm',
            github: null,
            description: 'An implementation of how user clustering could work for a Massive Multiplayer game.',
            keywords: ['javascript', 'performance', 'canvas']
        },
        {
            url: 'projects/hex-project/index.html',
            image: "/projects-images/hex-project.png",
            title: 'Hex Game Project',
            github: 'https://github.com/dested/TurnRPG',
            description: 'A rough implementation of an interesting puzzle game concept.',
            keywords: ['javascript', 'c#', 'canvas']
        },
        {
            url: 'projects/profiler/index.html',
            image: "/projects-images/profiler.png",
            title: 'Javascript Profiler',
            github: 'https://github.com/dested/jsprofiler',
            description: 'A javascript profiler that supports line by line statistical analysis. Uses Istanbul and esprima for code instrumentation.',
            keywords: ['javascript', 'performance', 'code-utility']
        },

        {
            url: 'https://github.com/dested/Peer-Test',
            image: "/projects-images/webrtc-test.png",
            title: 'Peer to Peer Test',
            github: 'https://github.com/dested/Peer-Test',
            description: 'A test application to determine the viability of web-rtc for large scale mostly serverless games.',
            keywords: ['typescript', 'performance', 'code-utility', 'node.js', 'web-rtc']
        },
        {
            url: 'https://github.com/dested/MultiplayerPathFindingEngine',
            image: "/projects-images/multiplayer-engine.png",
            title: 'Multiplayer Pathfinding Engine',
            github: 'https://github.com/dested/MultiplayerPathFindingEngine',
            description: 'A test to build a horizontally scalable mmo engine for the web.',
            keywords: ['c#', 'scalable', 'node.js', 'websockets']
        },
        {
            url: 'projects/bezier/index.html',
            image: "/projects-images/bezier.png",
            title: 'Cubic Bezier Curve',
            github: 'https://gist.github.com/dested/83adfc1afc684a7ed65b86ea01259661',
            description: 'A very simple Cubic Bezier Curve implementation in javascript',
            keywords: ['javascript', 'canvas']
        },
    ].sort(function (a, b) {
        return Math.random() * 100 - 50;
    })

}).filter('to_trusted', ['$sce', function ($sce) {
    return function (text) {
        return $sce.trustAsHtml(text);
    };
}])</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-30696843-1', 'auto');
    ga('send', 'pageview');

</script>
</body>

</html>