<div ng-controller="HexEditorController">
    <div floating-window left="'75%'" top="'50%'" width="'390px'" height="'300px'" window-title="'Level Selector'" onclose="callback.windowClosed()" visible="visible">
        <ol class="property-box">
            <li>
                <label for-next>Width</label>
                <input type="number" ng-model="model.width" />
            </li>
            <li>
                <label for-next>Height Skew</label>
                <input type="number" step="0.01" max="2" min="-2"  ng-model="model.heightSkew" />
            </li>
            <li>
                <label for-next>Depth Height Skew</label>
                <input type="number" step="0.01" max="2" min="-2" ng-model="model.depthHeightSkew" />
            </li>
        </ol>
    </div>
</div>