@media (max-width: 769px) {
  html {
    font-size: 13px;
  }
}

h1 {
  font-size: 2em;
}
@media (max-width: 769px) {
  h1 {
    font-size: 1.5em;
  }
}
h4 {
  margin-bottom: 0.5em;
  margin-top: 1em;
}
h2 {
  margin-top: 1.4em;
  margin-bottom: 0.2em;
}

p {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

h4 {
  text-decoration: underline #b0b0b0;
}

.game-title {
  grid-area: title;
  text-align: left;
  text-decoration: underline #b0b0b0;
}

.game-teaser {
  grid-area: teaser;
  text-align: left;
  margin: 0;
  color: #0060bf;
}

.game-grid {
  font-size: 1.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 20px 50%;
  grid-template-rows: auto auto 1fr 1fr ;
  gap: 0 0;
  grid-template-areas:
    'title title title title'
    'teaser teaser . side-panel'
    'body body . side-panel'
    'body body . side-panel'
}
@media (max-width: 769px) {
  .game-grid {
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    gap: 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title'
      'teaser'
      'side-panel'
      'body'
  }
}

.side-panel {
  grid-area: side-panel;
  display: flex;
  flex-direction: column;
}
.game-body {
  grid-area: body;
  overflow-wrap: anywhere;
}
.side-holder {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-github {
  font-size: 1.5rem;
}
.game-url {
  font-size: 1.5rem;
}
.game-timespent {
  font-size: 2rem;
  max-width: 40%;
}
.game-timespent span {
  font-size: 1.5rem;
}
.game-percentdone {
  font-size: 2rem;
  max-width: 40%;
  text-align: right;
}
.game-percentdone span {
  font-size: 1.5rem;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
button {
  cursor: pointer;
  border: solid 2px #919191;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 10px;
}
button.disabled {
  cursor: not-allowed;
  background-color: #919191 !important;
}
.buttons button:first-child {
  background-color: #0a8f0a;
  color: white;
}
.buttons button:last-child {
  background-color: #a40000;
  color: white;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}
li:before {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #ccc;
  margin-right: 1rem;
  border-radius: 50%;
  content: '';
}
li span {
  min-width: 40%;
  max-width: 40%;
}

.bubble {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  border: solid 2px grey;
}

.bubble textarea {
  background-color: white;
  border-radius: 10px;
  font-size: 1.4rem;
  padding: 1rem;
  min-width: 20rem;
  border: solid 2px grey;
}
.bubble input {
  background-color: white;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  min-width: 20rem;
  border: solid 2px grey;
}
